/* Global Styles */

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Flexbox */

.fh {
  display: flex;
}

.fhr {
  display: flex;
  flex-direction: row-reverse;
}

.fv {
  display: flex;
  flex-direction: column;
}

.fvr {
  display: flex;
  flex-direction: column-reverse;
}

.jcfs {
  justify-content: flex-start;
}

.jcc {
  justify-content: center;
}

.jcfe {
  justify-content: flex-end;
}

.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.aifs {
  align-items: flex-start;
}

.aic {
  align-items: center;
}

.aife {
  align-items: flex-end;
}

.aibl {
  align-items: baseline;
}

.fw {
  flex-wrap: wrap;
}

.fw-nowrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

/* Static Styles */

.secondary-color {
  color: #fcd535;
}

.secondary-background-color {
  background-color: #fcd535;
}

/* Navigation Bar */

.navigation-bar {
  background-color: #ffffff;
  padding: 8px;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-bar li {
  margin: 10px;
}

.navigation-bar a {
  color: #1e2329;
}

.navigation-bar a:hover {
  color: #fcd535;
}

.logo img {
  width: 30px;
  height: 25px;
}

.logo strong {
  margin-left: 5px;
}

.yellow-link {
  border-radius: 5px;
  padding: 5px;
}

.current-currency {
  border-left: 1px solid #b7bdc6;
  border-right: 1px solid #b7bdc6;
  padding: 0px 5px;
}

header {
  background-color: #fafafa;
}

/* End Of Refactor */

.header-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
#text {
  font-size: xx-large;
}
#Form {
  display: flex;
  flex-direction: row-reverse;
  height: 44px;
}
#submit {
  background-color: #fcd535;
  border-color: #fcd535;
}

#header-image {
  width: 600px;
  height: 500px;
}
#endHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
